{project_plugins, [rebar3_format, rebar3_lint]}.
{ct_first_files, "[src/test.erl]"}. % {erl_first_files, ...} but for CT
{ct_opts, "[src/test.erl]"}. % same as options for ct:run_test(...)
{ct_readable, true }. % disable rebar3 modifying CT output in the shell

{shell, [
  % {config, "config/sys.config"},
  {apps, [five]}
]}.

{shell, [
  % {config, "config/sys.config"},
  {apps, [period]}
]}.
